<ul class="gallery-images">
		{{#each pics}}
			<li><img src="assets/images/{{filePath}}" alt="{{id}}"></li>
		{{/each}}
</ul>
<div class="nav-dots">
	{{#each pics}}
		<span></span>
	{{/each}}
</div>
{{#each pics}}
	<div class="picture-description">
		{{#descriptionHelper}}{{firstLine}}{{/descriptionHelper}}
		{{#descriptionHelper}}{{secondLine}}{{/descriptionHelper}}
		{{#descriptionHelper}}{{thirdLine}}{{/descriptionHelper}}
	</div>
{{/each}}